langchain
langchain-community
langchain-text-splitters
langchain-ollama
langchain-core
langchain-google-genai
langchain_groq
langchain_huggingface
sentence_transformers

faiss-cpu

beautifulsoup4
pypdf
requests
lxml
numpy
flask

playwright
